<!-- Constructs the nav HTML content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Constructs the message block -->
<%- messages() %>
<% if (errors) { %>
  <ul>
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
 <%  }) %>
 </ul>
<% } %>

<!-- Constructs the inventory items display -->
<%- grid %>